<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @feat.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @feat.type %>
</p>

<p>
  <strong>Description:</strong>
  <%= @feat.description %>
</p>

<p>
  <strong>Prerequisites:</strong>
  <%= @feat.prerequisites %>
</p>

<p>
  <strong>Prerequisite feats:</strong>
  <%= @feat.prerequisite_feats %>
</p>

<p>
  <strong>Benefit:</strong>
  <%= @feat.benefit %>
</p>

<p>
  <strong>Normal:</strong>
  <%= @feat.normal %>
</p>

<p>
  <strong>Special:</strong>
  <%= @feat.special %>
</p>

<p>
  <strong>Source:</strong>
  <%= @feat.source %>
</p>

<p>
  <strong>Fulltext:</strong>
  <%= @feat.fulltext %>
</p>

<p>
  <strong>Teamwork:</strong>
  <%= @feat.teamwork %>
</p>

<p>
  <strong>Critical:</strong>
  <%= @feat.critical %>
</p>

<p>
  <strong>Grit:</strong>
  <%= @feat.grit %>
</p>

<p>
  <strong>Style:</strong>
  <%= @feat.style %>
</p>

<p>
  <strong>Performance:</strong>
  <%= @feat.performance %>
</p>

<p>
  <strong>Racial:</strong>
  <%= @feat.racial %>
</p>

<p>
  <strong>Companion familiar:</strong>
  <%= @feat.companion_familiar %>
</p>

<p>
  <strong>Race name:</strong>
  <%= @feat.race_name %>
</p>

<p>
  <strong>Note:</strong>
  <%= @feat.note %>
</p>

<p>
  <strong>Goal:</strong>
  <%= @feat.goal %>
</p>

<p>
  <strong>Completion benefit:</strong>
  <%= @feat.completion_benefit %>
</p>

<p>
  <strong>Multiples:</strong>
  <%= @feat.multiples %>
</p>

<p>
  <strong>Suggested traits:</strong>
  <%= @feat.suggested_traits %>
</p>

<%= link_to 'Edit', edit_feat_path(@feat) %> |
<%= link_to 'Back', feats_path %>
