<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @spell.name %>
</p>

<p>
  <strong>School:</strong>
  <%= @spell.school %>
</p>

<p>
  <strong>Subschool:</strong>
  <%= @spell.subschool %>
</p>

<p>
  <strong>Descriptor:</strong>
  <%= @spell.descriptor %>
</p>

<p>
  <strong>Spell level:</strong>
  <%= @spell.spell_level %>
</p>

<p>
  <strong>Casting time:</strong>
  <%= @spell.casting_time %>
</p>

<p>
  <strong>Components:</strong>
  <%= @spell.components %>
</p>

<p>
  <strong>Costly components:</strong>
  <%= @spell.costly_components %>
</p>

<p>
  <strong>Range:</strong>
  <%= @spell.range %>
</p>

<p>
  <strong>Area:</strong>
  <%= @spell.area %>
</p>

<p>
  <strong>Effect:</strong>
  <%= @spell.effect %>
</p>

<p>
  <strong>Targets:</strong>
  <%= @spell.targets %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @spell.duration %>
</p>

<p>
  <strong>Dismissible:</strong>
  <%= @spell.dismissible %>
</p>

<p>
  <strong>Shapeable:</strong>
  <%= @spell.shapeable %>
</p>

<p>
  <strong>Saving throw:</strong>
  <%= @spell.saving_throw %>
</p>

<p>
  <strong>Spell resistence:</strong>
  <%= @spell.spell_resistence %>
</p>

<p>
  <strong>Description:</strong>
  <%= @spell.description %>
</p>

<p>
  <strong>Description formated:</strong>
  <%= @spell.description_formated %>
</p>

<p>
  <strong>Source:</strong>
  <%= @spell.source %>
</p>

<p>
  <strong>Full text:</strong>
  <%= @spell.full_text %>
</p>

<p>
  <strong>Verbal:</strong>
  <%= @spell.verbal %>
</p>

<p>
  <strong>Somatic:</strong>
  <%= @spell.somatic %>
</p>

<p>
  <strong>Material:</strong>
  <%= @spell.material %>
</p>

<p>
  <strong>Focus:</strong>
  <%= @spell.focus %>
</p>

<p>
  <strong>Divine focus:</strong>
  <%= @spell.divine_focus %>
</p>

<p>
  <strong>Sor:</strong>
  <%= @spell.sor %>
</p>

<p>
  <strong>Wiz:</strong>
  <%= @spell.wiz %>
</p>

<p>
  <strong>Cleric:</strong>
  <%= @spell.cleric %>
</p>

<p>
  <strong>Druid:</strong>
  <%= @spell.druid %>
</p>

<p>
  <strong>Ranger:</strong>
  <%= @spell.ranger %>
</p>

<p>
  <strong>Bard:</strong>
  <%= @spell.bard %>
</p>

<p>
  <strong>Paladin:</strong>
  <%= @spell.paladin %>
</p>

<p>
  <strong>Alchemist:</strong>
  <%= @spell.alchemist %>
</p>

<p>
  <strong>Summoner:</strong>
  <%= @spell.summoner %>
</p>

<p>
  <strong>Witch:</strong>
  <%= @spell.witch %>
</p>

<p>
  <strong>Inquisitor:</strong>
  <%= @spell.inquisitor %>
</p>

<p>
  <strong>Oracle:</strong>
  <%= @spell.oracle %>
</p>

<p>
  <strong>Antipaladin:</strong>
  <%= @spell.antipaladin %>
</p>

<p>
  <strong>Magus:</strong>
  <%= @spell.magus %>
</p>

<p>
  <strong>Adept:</strong>
  <%= @spell.adept %>
</p>

<p>
  <strong>Deity:</strong>
  <%= @spell.deity %>
</p>

<p>
  <strong>Sla level:</strong>
  <%= @spell.SLA_Level %>
</p>

<p>
  <strong>Domain:</strong>
  <%= @spell.domain %>
</p>

<p>
  <strong>Short description:</strong>
  <%= @spell.short_description %>
</p>

<p>
  <strong>Acid:</strong>
  <%= @spell.acid %>
</p>

<p>
  <strong>Air:</strong>
  <%= @spell.air %>
</p>

<p>
  <strong>Chaotic:</strong>
  <%= @spell.chaotic %>
</p>

<p>
  <strong>Cold:</strong>
  <%= @spell.cold %>
</p>

<p>
  <strong>Curse:</strong>
  <%= @spell.curse %>
</p>

<p>
  <strong>Darkness:</strong>
  <%= @spell.darkness %>
</p>

<p>
  <strong>Death:</strong>
  <%= @spell.death %>
</p>

<p>
  <strong>Disease:</strong>
  <%= @spell.disease %>
</p>

<p>
  <strong>Earth:</strong>
  <%= @spell.earth %>
</p>

<p>
  <strong>Electricity:</strong>
  <%= @spell.electricity %>
</p>

<p>
  <strong>Emotion:</strong>
  <%= @spell.emotion %>
</p>

<p>
  <strong>Evil:</strong>
  <%= @spell.evil %>
</p>

<p>
  <strong>Fear:</strong>
  <%= @spell.fear %>
</p>

<p>
  <strong>Fire:</strong>
  <%= @spell.fire %>
</p>

<p>
  <strong>Force:</strong>
  <%= @spell.force %>
</p>

<p>
  <strong>Good:</strong>
  <%= @spell.good %>
</p>

<p>
  <strong>Language dependent:</strong>
  <%= @spell.language_dependent %>
</p>

<p>
  <strong>Lawful:</strong>
  <%= @spell.lawful %>
</p>

<p>
  <strong>Light:</strong>
  <%= @spell.light %>
</p>

<p>
  <strong>Mind affecting:</strong>
  <%= @spell.mind_affecting %>
</p>

<p>
  <strong>Pain:</strong>
  <%= @spell.pain %>
</p>

<p>
  <strong>Poison:</strong>
  <%= @spell.poison %>
</p>

<p>
  <strong>Shadow:</strong>
  <%= @spell.shadow %>
</p>

<p>
  <strong>Sonic:</strong>
  <%= @spell.sonic %>
</p>

<p>
  <strong>Water:</strong>
  <%= @spell.water %>
</p>

<p>
  <strong>Linktext:</strong>
  <%= @spell.linktext %>
</p>

<p>
  <strong>Material costs:</strong>
  <%= @spell.material_costs %>
</p>

<p>
  <strong>Bloodline:</strong>
  <%= @spell.bloodline %>
</p>

<p>
  <strong>Patron:</strong>
  <%= @spell.patron %>
</p>

<p>
  <strong>Mythic text:</strong>
  <%= @spell.mythic_text %>
</p>

<p>
  <strong>Augmented:</strong>
  <%= @spell.augmented %>
</p>

<p>
  <strong>Mythic:</strong>
  <%= @spell.mythic %>
</p>

<p>
  <strong>Bloodrager:</strong>
  <%= @spell.bloodrager %>
</p>

<p>
  <strong>Shaman:</strong>
  <%= @spell.shaman %>
</p>

<p>
  <strong>Psychic:</strong>
  <%= @spell.psychic %>
</p>

<p>
  <strong>Medium:</strong>
  <%= @spell.medium %>
</p>

<p>
  <strong>Mesmerist:</strong>
  <%= @spell.mesmerist %>
</p>

<p>
  <strong>Occultist:</strong>
  <%= @spell.occultist %>
</p>

<p>
  <strong>Spiritualist:</strong>
  <%= @spell.spiritualist %>
</p>

<p>
  <strong>Skald:</strong>
  <%= @spell.skald %>
</p>

<%= link_to 'Edit', edit_spell_path(@spell) %> |
<%= link_to 'Back', spells_path %>
